/* Stylesheet for Portfolio-challenge v1*/

/* Variables Start */
:root {
    /* Colors */
    /* --primary-color:  #cf5656; */
    /* --secondary-color:  #2F3C4C; */
    /* --tertiary-color:  #1f2833; */
    /* --quaternary-color: white; */
    --shadow-color:  #1c2127;
    /* Fonts */
    --primary-font: 'Rubik', sans-serif;
    --secondary-font:  'Poppins', sans-serif;
    /* Sizes */
    --big-size:  40px;
    --medium-size:  23px;
    --small-size:  15px;
    /* border style */
}
/* Variables End */

/* Global Style Start */
* {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--primary-font);
    color: var(--font-color-secondary);
}

p {
    font-family: var(--secondary-font);
    color: var(--font-color);
}

a {
    font-family: var(--primary-font);
    color: var(--font-color);
    text-decoration: none;
}
/* Global Site End */

/* Body Style Start */
body {
    background-color: var(--tertiary-color);
}
/* Body Style End */

/* Background Style and Toggle Switch Style Start */
.body-container {
    --primary-color:  #74babb;
    --secondary-color: #31343d;
    --tertiary-color:  #EDEDF6;
    --quaternary-color: #445877;
    --font-color: #222;
    --font-color-secondary: #31343d;
    --border-color: var(--quaternary-color);
    --border-style: 4px solid var(--primary-color);
  }

/* Toggle Switch Start */
.toggle-input {
    position: absolute;
    top: 35px;
    left: 92%;
}

.toggle-label {
    position: absolute;
    top: 35px;
    left: 92%;
}

.toggle-input {
    opacity: 0;
}

.toggle-input:checked ~ .body-container {
    --primary-color:  #cf5656;
    --secondary-color: #31343d;
    --tertiary-color:  #31343d;
    --quaternary-color: white;
    --font-color: white;
    --font-color-secondary: white;
    --border-color: var(--primary-color);
    
    background-color: var(--tertiary-color);
}

.toggle-input:checked + .toggle-label::before {
    display: inline-block;
    content: " ";
    background-image: url(../images/moon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    width: 35px;
    height: 35px;
    background-color: #cf5656; 
    transform: rotate(0deg);
    transition: all 2s;
}

.toggle-input + .toggle-label::before {
    display: inline-block;
    content: " ";
    background-image: url(../images/sun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    width: 35px;
    height: 35px;
    background-color: #74babb;
    transform: rotate(90deg);
    transition: all 2s;
    
    
}

.toggle-label:hover {
    cursor: pointer;
}
/* Toogle Switch End */
/* Background Style and Toggle Switch Style End */  

/* Header Style Start */
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

.logo-name {
    background-color: var(--primary-color);
    margin: 20px 0;
    padding: 10px 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    margin-right: 9.5vw;
    display: flex;
    align-items: center;
}

.nav-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-container ul li {
    margin: 20px 10px;
    list-style-type: none;
    border-bottom: var(--border-style);
    text-align: center;
    padding: 5px 10px;
}

.nav-container ul li a {
    font-size: var(--medium-size);
    text-decoration: none;
    color: var(--primary-color);
}

.nav-container ul li:hover {
    border-bottom: 4px solid white;
    transition: all 1s;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    background-image: url("../images/background.jpg");
    height: 50vh;
    opacity: 1;
    /* Patterns was created from https://www.magicpattern.design/tools/css-backgrounds */
    background-color: var(--quaternary-color);
    background: linear-gradient(135deg, #44587755 25%, transparent 25%) -80px 0/ 160px 160px, linear-gradient(225deg, #445877 25%, transparent 25%) -80px 0/ 160px 160px, linear-gradient(315deg, #44587755 25%, transparent 25%) 0px 0/ 160px 160px, linear-gradient(45deg, #445877 25%, var(--tertiary-color) 25%) 0px 0/ 160px 160px;
    background-repeat: repeat;
    display: flex;
    align-items: center;
}
.hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    align-items: flex-end;
    margin: 40px auto;
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    flex: 1 20%;
}

.about-img img {
    width: 15vw;
    min-width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 5px black;
}

.hero-tagline-container{
    height: 20%;
    flex: 2 65%;
    display: flex;
    justify-content: flex-end;
}

.hero-tagline {
    padding:20px 30px;
    background-color: var(--primary-color);
}

.hero-tagline h2 {
    font-size: var(--medium-size);
    align-items: center;
}
/* Hero Style End */

/* Content Style Start */
main {
    margin-bottom: 60px;
}

.content-container {
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.section-container {
    width: 100%;
    display: flex;
    margin-top: 40px;
    padding-top: 20px;
}

.section-title {
    display: flex;
    justify-content: flex-end;
    flex: 1 20%;
    flex-wrap: wrap;
    flex-shrink: 1;
    min-width: 200px;
    padding-right: 40px;
    text-align: right;
    font-size: var(--big-size);
}

.section-title h2 {
    color: var(--quaternary-color);
}

.section-content {
    display: flex;
    flex: 2 80%;
    padding-left: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--quaternary-color);
    border-left: 4px solid var(--border-color);
    font-size: var(--medium-size);
}
/* Content Style End */

/* About Section Start */
.about-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-description span {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: var(--medium-size);
}
/* About Section End */

/* Work Section Style Start */
.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.work {
    width: calc((100% / 2) - 18px);
    border: var(--border-style);
    height: 200px;
    margin-bottom: 20px;
    z-index: 1;
    background-image: url(../images/background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.500);
    border-radius: 10px;
}

.work a {
    border-radius: 5px;
}

.work-container{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.work-container:not(:hover){
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.212);
    transition: all 0.3s;
}

.work:first-child {
    width: 100%;
    height: 400px;
}

.work:first-child {
    background-image: url(../images/covidDashboard.JPG);
}

.work:nth-child(2){
    background-image: url(../images/get-it-done.JPG);
}

.work:nth-child(3) {
    background-image: url(../images/taskinator.JPG);
}

.work:nth-child(4) {
    /* background image */
    background-image: url(../images/password-generator.JPG);
}

.work:nth-child(5) {
    /* background image */
    background-image: url(../images/code-quiz.JPG);
}

.work:nth-child(6) {
    /* background image */
    background-image: url(../images/taskmaster-pro.JPG);
}

.work:nth-child(7) {
    /* background image */
    background-image: url(../images/work-day-scheduler.JPG);
    margin: 0px;
}


.work-info {
    background-color: var(--primary-color);
    padding: 20px;
    margin-bottom: 30px;
    z-index: 10;
}

.work-info h3 {
    font-size: 20px;
}

.work-info p {
    font-size: var(--small-size);
}
/* Work Section Style End */

/* Contact Section Style Start */
.contact-container {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    border-bottom: 4px solid var(--border-color);
    justify-content: space-between;
}

.contact-container a {
    padding-bottom: 15px;
}

.contact-container a:hover {
    color: var(--primary-color);
    transition: all 1s;
}
/* Contact Section Style End */

/* Resume Section Style Start */
.resume-container {
    display: flex;
    align-items: center;
}

.resume-container a {
    color: var(--primary-color);
}

/* Footer Style Start */
.footer-container {
    height: 10vh;
    padding: 0 9vw;
    background-color: var(--primary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-name h3 {
    font-size: var(--medium-size);
}

.copyright {
    margin-left: 20px;
}
/* Footer Style End */


/* Responsive CSS width under 880px */
@media only screen and (max-width: 880px) {
    /* Heading Style */
    h2 {
        font-size: var(--big-size);
        text-align: center;
    }
    /* Togle Swtich */
    .toggle-input {
        top : 10px;
    }

    .toggle-label {
        top: 10px;
    }

    .toggle-input:checked + .toggle-label::before {
        background-color: #1f2833;   
    }

    .toggle-input + .toggle-label::before {
        background-color: #EDEDF6;   
    } 

    /* Header Style */
    .header-container {
        justify-content: center;
    }

    .nav-container {
        margin: 0;
    }

    .nav-container ul {
        padding-bottom: 10px;
    }

    .nav-container ul li a {
        font-size: 20px;
    }

    .logo-name {
        width: 100%;
        margin: 0;
    }

    /* Hero Style */
    .hero {
        justify-content: center;
        align-items: center;
    }

    .hero-container {
        width: 100%;
        padding: 0 20px;
    }

    .hero-tagline-container {
        flex: 0 100%;
        margin-top: 30px;
        justify-content: center;
    }

    /* Section Style */
    .content-container {
        width: 90%;
    } 

    .section-container {
        flex-wrap: wrap;
    }

    .section-title {
        justify-content: center;
        margin-bottom: 40px;
        padding: 0;
    }

    #contact .section-content {
        justify-content: left;
    }

    .footer-container {
        align-content: center;
    }

}

/* Responsive Style width below 540px */
@media only screen and (max-width: 540px) {
    /* Toggle Style */
    .toggle-input {
        left : 85%;
    }

    .toggle-label {
        left : 85%;
    }

    .nav-container ul li {
        margin: 10px;
        padding: 0;
    }

    .nav-container ul li a {
        font-size: 4vw;
    }

    /* Hero Style */
    .hero {
        height: 60%;
    }

    .hero-tagline {
        text-align: center;
        padding: 15px;
    }

    /* Section Style */
    .section-title {
        font-size: var(--medium-size);
    }

    .section-content {
        padding-left: 20px;
        font-size: 18px;
    }

    /* Work Style */
    .work {
        width: 100%;
    }

    .work:first-child {
        height: 200px;
    }

    .work:nth-child(6) {
        /* background image */
        margin-bottom: 20px;
    }

    /* Contact Section Style */
    .contact-container a {
        padding-bottom: 5px;
    }

    /* Footer Style */
    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 10px;
        text-align: center;
    }

    .copyright {
        margin: 0px 20px;
    }
}